/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

#QuestsContainer
{
	horizontal-align: left;
	margin-top: 117px;
	margin-left: 15px;
	width: 330px;
	flow-children: down;
}

#QuestsHeaderContainer
{
	flow-children: right;
	margin-bottom: 4px;
}

#QuestsHeaderImage
{
	padding: 2px;
	width: 40px;
	height: 40px;
	margin-left: 4px;
	vertical-align: center;
}

#QuestsHeaderLabel
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
	font-size: 23px;
	font-family: Radiance;
	font-weight: bold;
	text-shadow: 1px 1px 0px 1.5 #000;
	margin: 7px 5px 8px 5px;
	color: gradient(linear, 0% 0%, 0% 150%, from( #ffe600 ), to( #d18f15 ));
}

#QuestsListContainer
{
	width: 100%;
	flow-children: down;
}

#MainQuests,#AdditionalQuests
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

#QuestsDividerLine
{
	width: 60%;
	height: 1px;
	background-color: #a8b0a5;
	vertical-align: center;
	margin: 3px 0px 8px 15px;
}

.QuestContainer
{
	width: 100%;
	flow-children: right;
	margin-bottom: 5px;
}

.QuestPriorityMark
{
	width: 40px;
	height: 40px;
	margin: -2px 8px 5px 2px;
	text-align: center;
	font-size: 40px;
	font-family: Radiance;
	font-weight: bold;
	text-shadow: 1px 1px 0px 1.5 #000;
}

.QuestPriorityMark.MainQuest
{
	color: #ffe600;
}

.QuestPriorityMark.AdditionalQuest
{
	color: #747474;
}

.QuestInfoContainer
{
	flow-children: down;
}

.QuestHeader
{
	color: white;
	font-size: 18px;
	text-shadow: 1px 1px 0px 1.5 #000;
	margin-bottom: 2px;
}

.QuestDescriptionContainer
{
	flow-children: down;
}

.QuestDescriptionLabel
{
	padding: 3px;
	margin-right: 5px;
	color: white;
	font-size: 15px;
	border: 1px solid black;
	background-color: rgba(0,0,0,0.7);
}

.QuestProgressLabel
{
	color: white;
	font-size: 12px;
	horizontal-align: right;
}

.QuestRewardsContainer
{
	margin-top: 3px;
	flow-children: right;
}

.QuestReward
{
	flow-children: right;
}

.QuestRewardImage
{
	width: 20px;
	height: 20px;
	vertical-align: center;
}

.QuestRewardLabel
{
	vertical-align: center;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 0px 1.5 #000;
}

.QuestExpReward
{
	margin-left: 6px;
}

.QuestGoldReward Image
{
	margin-right: 2px;
}

.QuestTimeLabel
{
	horizontal-align: left;
	text-align: center;
	font-size: 14px;
	color: white;
	width: 40px;
}

.QuestMsgPanel
{
	width: 100%;
	vertical-align: top;
	margin-top: 100px;
	horizontal-align: center;
	flow-children: down;
}

.QuestMessage
{
	font-size: 48px;
	font-family:titleFont;
	font-weight:bold;
	letter-spacing:1px;
	text-shadow:0px 2px 16px 5.0 #000a;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	horizontal-align: center;
	animation-duration: 0.6s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-name: show;
}

@keyframes 'show'
{
	0%
	{
		transform: scale3d(0, 0, 0);
	}
	
	100%
	{
		transform: scale3d(1, 1, 1);
	}
	
}

